.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.25rem;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    width: 1.825rem;
    height: 1.825rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: 0.4s;
}

.checkbox:checked + .slider {
    background-color: #cf0b0b;
}

.checkbox:checked + .slider:before {
  transform: translateX(2.7rem);
}

.slider.rounded {
    border-radius: 2rem;
}

.slider.rounded:before {
    border-radius: 50%;
}

